In [ ]:
import tensorflow as tf
from tensorflow.keras import layers
from tensorflow.keras import preprocessing
from tensorflow.keras import models
from tensorflow.keras.layers import Conv2D
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Flatten
from tensorflow.keras.preprocessing import image
from tensorflow.keras.layers import MaxPooling2D
from tensorflow.keras.models import Sequential
import numpy as np

In [ ]:
#!pip install tensorflow==1.15.2
tf.__version__

'1.15.2'

In [ ]:
preprocessing.image.ImageDataGenerator( validation_split=0.2)

In [ ]:
# Configure the CNN (Convolutional Neural Network).

classifier = Sequential()

# Convolution - extracting appropriate features from the input image.
# Non-Linearity (RELU) - replacing all negative pixel values in feature map by zero.

classifier.add(Conv2D(32, (3, 3), input_shape=(200, 200, 3),
               activation='relu'))

# Pooling: reduces dimensionality of the feature maps but keeps the most important information.

classifier.add(MaxPooling2D(pool_size=(2, 2)))

# Adding a second convolutional layer and flattening in order to arrange 3D volumes into a 1D vector.

classifier.add(Conv2D(32, (3, 3), activation='relu'))
classifier.add(MaxPooling2D(pool_size=(2, 2)))
classifier.add(Flatten())

# Fully connected layers: ensures connections to all activations in the previous layer.

classifier.add(Dense(units=128, activation='relu'))
classifier.add(Dense(units=1, activation='linear'))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

In [ ]:
import pandas as pd
a = [str(i)+'.jpg' for i in range(1,61)]
train = ['1.jpg','11.jpg','13.jpg','16.jpg','19.jpg','20.jpg','21.jpg','22.jpg','23.jpg','25.jpg','27.jpg','3.jpg','30.jpg','31.jpg','32.jpg','34.jpg','35.jpg','36.jpg','37.jpg','38.jpg','39.jpg','4.jpg','41.jpg','42.jpg','43.jpg','44.jpg','45.jpg','46.jpg','47.jpg','48.jpg','50.jpg','52.jpg','54.jpg','55.jpg','56.jpg','57.jpg','58.jpg','59.jpg','6.jpg','7.jpg','8.jpg','9.jpg']
out = [520,520,520,520,556,556,556,556,518,518,518,518,583,583,583,583,629,629,629,629,703,703,703,703,754,754,754,754,786,786,786,786,866,866,866,866,954,954,954,954,1009,1009,1009,1009,1020,1020,1020,1020,1020,1020,1020,1020,1022,1022,1022,1022,1023,1023,1023,1023]
#out = [520,518,583,629,629,703,703,703,703,754,754,520,786,786,866,866,866,954,954,954,954,520,1009,1009,1009,1009,1020,1020,1020,1020,1020,1020,1020,1022,1022,1022,1023,1023,1023,556,556,556,518]
#out = [520,518,583,629,629,703,703,703,703,754,754,520,786,786,866,866,866,954,954,954,954,520,1009,1009,1009,1009,1020,1020,1020,1020,1020,1020,1020,1022,1022,1022,1023,1023,556,556,556,518]
print(len(out))
data = {'ID': a, 'Out': out}
df = pd.DataFrame(data)
df

60

        ID   Out
0    1.jpg   520
1    2.jpg   520
2    3.jpg   520
3    4.jpg   520
4    5.jpg   556
5    6.jpg   556
6    7.jpg   556
7    8.jpg   556
8    9.jpg   518
9   10.jpg   518
10  11.jpg   518
11  12.jpg   518
12  13.jpg   583
13  14.jpg   583
14  15.jpg   583
15  16.jpg   583
16  17.jpg   629
17  18.jpg   629
18  19.jpg   629
19  20.jpg   629
20  21.jpg   703
21  22.jpg   703
22  23.jpg   703
23  24.jpg   703
24  25.jpg   754
25  26.jpg   754
26  27.jpg   754
27  28.jpg   754
28  29.jpg   786
29  30.jpg   786
30  31.jpg   786
31  32.jpg   786
32  33.jpg   866
33  34.jpg   866
34  35.jpg   866
35  36.jpg   866
36  37.jpg   954
37  38.jpg   954
38  39.jpg   954
39  40.jpg   954
40  41.jpg  1009
41  42.jpg  1009
42  43.jpg  1009
43  44.jpg  1009
44  45.jpg  1020
45  46.jpg  1020
46  47.jpg  1020
47  48.jpg  1020
48  49.jpg  1020
49  50.jpg  1020
50  51.jpg  1020
51  52.jpg  1020
52  53.jpg  1022
53  54.jpg  1022
54  55.jpg  1022
55  56.jpg  1022
56  57.jpg  1023
57  58.jpg  1023
58  59.jpg  1023
59  60.jpg  1023

In [ ]:
# Compile the CNN and train the classifier..
train_file = '/content/drive/My Drive/data/train'
classifier.compile(optimizer='adam', loss='mean_squared_error',
                   metrics=['accuracy'])
from keras_preprocessing.image import ImageDataGenerator
#train_label_df = pd.read_csv(df, delimiter=' ', header=None, names=['Id', 'Out'])
train_datagen = ImageDataGenerator(rescale = 1./255, horizontal_flip = True,
                                   fill_mode = "nearest", zoom_range = 0.2,
                                   width_shift_range = 0.2, height_shift_range=0.2,
                                   rotation_range=30) 
val_datagen = ImageDataGenerator(rescale = 1./255, horizontal_flip = True,
                                   fill_mode = "nearest", zoom_range = 0.2,
                                   width_shift_range = 0.2, height_shift_range=0.2,
                                   rotation_range=30) 

train_generator = train_datagen.flow_from_dataframe(dataframe=train, directory='/content/drive/My Drive/data/train', 
                                              x_col="ID", y_col="Out", has_ext=True, 
                                              class_mode="other", target_size=(200, 200))
val_generator = train_datagen.flow_from_dataframe(dataframe=val, directory='/content/drive/My Drive/data/val', 
                                              x_col="ID", y_col="Out", has_ext=True, 
                                              class_mode="other", target_size=(200, 200))

Found 42 validated image filenames.
Found 9 validated image filenames.

In [ ]:
from google.colab import drive
drive.unmount('/content/drive')

In [ ]:
import os
import numpy as np
import shutil

# # Creating Train / Val / Test folders (One time use)
root_dir = '/content/data'

os.makedirs(root_dir +'/train')
os.makedirs(root_dir +'/val')
os.makedirs(root_dir +'/test')


# Creating partitions of the data after shuffeling

src = "/content/drive/My Drive/img" # Folder to copy images from

allFileNames = os.listdir(src)
np.random.shuffle(allFileNames)
train_FileNames, val_FileNames, test_FileNames = np.split(np.array(allFileNames),
                                                          [int(len(allFileNames)*0.7), int(len(allFileNames)*0.85)])


train_FileNames = [src+'/'+ name for name in train_FileNames.tolist()]
val_FileNames = [src+'/' + name for name in val_FileNames.tolist()]
test_FileNames = [src+'/' + name for name in test_FileNames.tolist()]

print('Total images: ', len(allFileNames))
print('Training: ', len(train_FileNames))
print('Validation: ', len(val_FileNames))
print('Testing: ', len(test_FileNames))

for name in train_FileNames:
    shutil.copy(name, "data/train")

for name in val_FileNames:
    shutil.copy(name, "data/val")

for name in test_FileNames:
    shutil.copy(name, "data/test")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
history = classifier.fit_generator(
        train_generator,
        steps_per_epoch=42 ,
        epochs=10,
        validation_data=val_generator,
        validation_steps=20 )

Epoch 1/10
41/42 [============================>.] - ETA: 2s - loss: 207474.2757 - acc: 0.0000e+00Epoch 1/10
42/42 [==============================] - 129s 3s/step - loss: 206196.1384 - acc: 0.0000e+00 - val_loss: 15108.3761 - val_acc: 0.0000e+00
Epoch 2/10
41/42 [============================>.] - ETA: 1s - loss: 29233.8042 - acc: 0.0000e+00Epoch 1/10
42/42 [==============================] - 90s 2s/step - loss: 28831.3594 - acc: 0.0000e+00 - val_loss: 3108.6951 - val_acc: 0.0000e+00
Epoch 3/10
41/42 [============================>.] - ETA: 1s - loss: 9937.4790 - acc: 0.0000e+00 Epoch 1/10
42/42 [==============================] - 89s 2s/step - loss: 9968.7555 - acc: 0.0000e+00 - val_loss: 3513.8242 - val_acc: 0.0000e+00
Epoch 4/10
41/42 [============================>.] - ETA: 1s - loss: 7646.4427 - acc: 0.0000e+00Epoch 1/10
42/42 [==============================] - 89s 2s/step - loss: 7609.8568 - acc: 0.0000e+00 - val_loss: 1931.7415 - val_acc: 0.0000e+00
Epoch 5/10
41/42 [============================>.] - ETA: 1s - loss: 6685.9569 - acc: 0.0000e+00Epoch 1/10
42/42 [==============================] - 88s 2s/step - loss: 6690.4711 - acc: 0.0000e+00 - val_loss: 2398.1871 - val_acc: 0.0000e+00
Epoch 6/10
41/42 [============================>.] - ETA: 1s - loss: 4732.7047 - acc: 0.0000e+00Epoch 1/10
42/42 [==============================] - 86s 2s/step - loss: 4674.5556 - acc: 0.0000e+00 - val_loss: 2751.5047 - val_acc: 0.0000e+00
Epoch 7/10
41/42 [============================>.] - ETA: 1s - loss: 4501.0739 - acc: 0.0000e+00Epoch 1/10
42/42 [==============================] - 86s 2s/step - loss: 4449.3191 - acc: 0.0000e+00 - val_loss: 3281.7987 - val_acc: 0.0000e+00
Epoch 8/10
41/42 [============================>.] - ETA: 1s - loss: 5206.2998 - acc: 0.0000e+00Epoch 1/10
42/42 [==============================] - 86s 2s/step - loss: 5143.7352 - acc: 0.0000e+00 - val_loss: 2293.1573 - val_acc: 0.0000e+00
Epoch 9/10
41/42 [============================>.] - ETA: 1s - loss: 3625.9701 - acc: 0.0000e+00Epoch 1/10
42/42 [==============================] - 86s 2s/step - loss: 3640.8709 - acc: 0.0000e+00 - val_loss: 2690.6128 - val_acc: 0.0000e+00
Epoch 10/10
41/42 [============================>.] - ETA: 1s - loss: 3693.5629 - acc: 0.0000e+00Epoch 1/10
42/42 [==============================] - 86s 2s/step - loss: 3738.2185 - acc: 0.0000e+00 - val_loss: 1627.5031 - val_acc: 0.0000e+00

In [ ]:
from keras.preprocessing import image
def load_image(img_path, show=False):

    img = image.load_img(img_path, target_size=(200, 200))
    img_tensor = image.img_to_array(img)                    # (height, width, channels)
    img_tensor = np.expand_dims(img_tensor, axis=0)         # (1, height, width, channels), add a dimension because the model expects this shape: (batch_size, height, width, channels)
    img_tensor /= 255.                                      # imshow expects values in the range [0, 1]

    if show:
        plt.imshow(img_tensor[0])                           
        plt.axis('off')
        plt.show()

    return img_tensor
img_path = '/content/drive/My Drive/data/test/'    # dog
#img_path = '/media/data/dogscats/test1/19.jpg'      # cat
pred = []
for i in os.listdir(img_path):
  new_image = load_image(img_path+i)
  print(i)

# check prediction
  pred.append(classifier.predict(new_image))
pred

12.jpg
10.jpg
49.jpg
2.jpg
51.jpg
26.jpg
60.jpg
53.jpg
15.jpg

[array([[494.121]], dtype=float32),
 array([[511.08365]], dtype=float32),
 array([[1018.26245]], dtype=float32),
 array([[557.12897]], dtype=float32),
 array([[1042.9103]], dtype=float32),
 array([[732.157]], dtype=float32),
 array([[984.4864]], dtype=float32),
 array([[1030.4017]], dtype=float32),
 array([[567.83923]], dtype=float32)]

In [ ]:
test

       ID   Out
0   2.jpg   520
1  10.jpg   518
2  12.jpg   518
3  15.jpg   583
4  26.jpg   754
5  49.jpg  1020
6  51.jpg  1020
7  53.jpg  1022
8  60.jpg  1023

In [ ]:
out = [520,518,583,629,629,703,703,703,703,754,754,520,786,786,866,866,866,954,954,954,954,520,1009,1009,1009,1009,1020,1020,1020,1020,1020,1020,1020,1022,1022,1022,1023,1023,556,556,556,518]
len(out)
train = ['1.jpg','11.jpg','13.jpg','16.jpg','19.jpg','20.jpg','21.jpg','22.jpg','23.jpg','25.jpg','27.jpg','3.jpg','30.jpg','31.jpg','32.jpg','34.jpg','35.jpg','36.jpg','37.jpg','38.jpg','39.jpg','4.jpg','41.jpg','42.jpg','43.jpg','44.jpg','45.jpg','46.jpg','47.jpg','48.jpg','50.jpg','52.jpg','54.jpg','55.jpg','56.jpg','57.jpg','58.jpg','59.jpg','6.jpg','7.jpg','8.jpg','9.jpg']
len(train)

42

In [ ]:
import os
sr = "/content/drive/My Drive/data/test" # Folder to copy images from

allFileNames = os.listdir(sr)
out1 = []
for i in allFileNames:
  out1.append(int(i.split('.jpg')[0]))

out1.sort()
ans = []
for i,j in enumerate(df['Out']):
  for k in out1:
    if i == k-1:
      ans.append(j)
a = [str(i)+'.jpg' for i in out1]
data = {'ID': a, 'Out': ans}
test = pd.DataFrame(data)
test

       ID   Out
0   2.jpg   520
1  10.jpg   518
2  12.jpg   518
3  15.jpg   583
4  26.jpg   754
5  49.jpg  1020
6  51.jpg  1020
7  53.jpg  1022
8  60.jpg  1023

In [ ]:
val

       ID  Out
0   5.jpg  556
1  14.jpg  583
2  17.jpg  629
3  18.jpg  629
4  24.jpg  703
5  28.jpg  754
6  29.jpg  786
7  33.jpg  866
8  40.jpg  954

In [ ]:
train

        ID   Out
0    1.jpg   520
1    3.jpg   520
2    4.jpg   520
3    6.jpg   556
4    7.jpg   556
5    8.jpg   556
6    9.jpg   518
7   11.jpg   518
8   13.jpg   583
9   16.jpg   583
10  19.jpg   629
11  20.jpg   629
12  21.jpg   703
13  22.jpg   703
14  23.jpg   703
15  25.jpg   754
16  27.jpg   754
17  30.jpg   786
18  31.jpg   786
19  32.jpg   786
20  34.jpg   866
21  35.jpg   866
22  36.jpg   866
23  37.jpg   954
24  38.jpg   954
25  39.jpg   954
26  41.jpg  1009
27  42.jpg  1009
28  43.jpg  1009
29  44.jpg  1009
30  45.jpg  1020
31  46.jpg  1020
32  47.jpg  1020
33  48.jpg  1020
34  50.jpg  1020
35  52.jpg  1020
36  54.jpg  1022
37  55.jpg  1022
38  56.jpg  1022
39  57.jpg  1023
40  58.jpg  1023
41  59.jpg  1023